@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fqrgg1');
  src:  url('fonts/icomoon.eot?fqrgg1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fqrgg1') format('truetype'),
    url('fonts/icomoon.woff?fqrgg1') format('woff'),
    url('fonts/icomoon.svg?fqrgg1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e90d";
}
.icon-flag-alt:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-flag:before {
  content: "\e903";
}
.icon-score-board:before {
  content: "\e90a";
}
.icon-level:before {
  content: "\e908";
}
.icon-point:before {
  content: "\e909";
}
.icon-google:before {
  content: "\e907";
}
.icon-snake-alt:before {
  content: "\e906";
}
.icon-snake:before {
  content: "\e905";
}
.icon-apple:before {
  content: "\e904";
}
.icon-sound:before {
  content: "\e900";
}
.icon-no-sound:before {
  content: "\e901";
}
.icon-mine:before {
  content: "\e902";
}
